* {
  margin: 0;
  padding: 0;
}
/*navigation bar styling*/

#navbar {
  display: flex;
  align-items: center;
  position: sticky;
  top: 0px;
}
#navbar::before {
  content: "";
  background-color: black;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.48;
  top: 0px;
  left: 0px;
}
#sportslogo {
  margin: 10px 35px;
}
#sportslogo img {
  height: 60px;
  margin: 0px 6px;
}
/*list styling*/

#navbar ul {
  display: flex;
  font-family: "baloo bhai", cursive;
}

#navbar ul li {
  list-style-type: none;
  font-size: 1.4rem;
}
#navbar ul li a {
  display: block;
  color: white;
  padding: 2px 20px;
  border-radius: 20px;
  text-decoration: none;
}
#navbar ul li a:hover {
  color: black;
  background-color: white;
}
/*HOME styling*/
#home {
  display: flex;
  flex-direction: column;
  padding: 3px 20px;
  height: 500px;
  justify-content: center;
  align-items: center;
}
#home::before {
  content: "";
  background: url(../img/homebg3.jpg) no-repeat center center/cover;
  position: absolute;
  height: 625px;
  top: 0%;
  left: 0%;
  width: 100%;
  z-index: -1;
  opacity: 0.8;
}
#home h1 {
  color: white;
  text-align: center;
  font-family: "bree serif", serif;
}
#home p {
  color: white;
  text-align: center;
  font-size: 1.9rem;
  font-family: "bree serif", serif;
}
.heading1 {
  font-size: 3.2rem;
  padding: 20px;
}
.button {
  cursor: pointer;
  padding: 6px 20px;
  border: 2px solid white;
  background-color: green;
  color: white;
  margin: 17px;
  border-radius: 100px;
  font-size: 1.1rem;
}
#sercices-container {
  display: flex;
  flex-direction: column;
  padding: 3px 200px;
  height: 250px;
  justify-content: center;
  align-items: center;
}
#services-container h1 {
  color: black;
  text-align: center;
  font-family: "bree serif", serif;
  font-size: 2.4rem;
}
#services {
  margin: auto;
  display: flex;
  justify-content: space-evenly;
}
#services .box {
  border: 2px solid black;
  padding: 34px;
  margin: 0px 9px;
  border-radius: 28px;
  background: #e1acac;
  margin-bottom: 20px;
}

#services .box img {
  height: 160px;
  margin: auto;
  display: block;
  border: 2px solid black;
  border-radius: 20px;
}

#services .box p {
  font-family: "Bree Serif", serif;
  text-align: center;
}
#services .box h2 {
  font-family: "baloo bhai", cursive;
  font-size: 1.4rem;
  text-align: center;
}
/*about us section*/
#aboutus h1 {
  color: black;
  text-align: center;
  font-family: "bree serif", serif;
  font-size: 2.4rem;
}
#aboutus p {
  color: black;
  text-align: center;
  font-size: 1.9rem;
  font-family: "bree serif", serif;
}
/*follow us*/
#follow {
  margin: auto;
  display: flex;
  justify-content: space-evenly;
}
#followus h1 {
  color: black;
  text-align: center;
  font-family: "bree serif", serif;
  font-size: 2.4rem;
}

#follow.follow-item {
  border: 2px solid white;
  padding: 34px;
  margin: 0px 9px;
  border-radius: 28px;
  background: #e1acac;
  margin-bottom: 20px;
}

#follow .follow-item img {
  height: 160px;
  margin: auto;
  display: block;
  border: 2px solid white;
  border-radius: 20px;
}
#contactus{
  position: relative;
}
#contactus::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.9;
  background: url('../img/contact.jpg') no-repeat center center/cover;

}
#contact{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 34px;
  position: relative;
}
#contactus h1 {
  color: black;
  text-align: center;
  font-family: "bree serif", serif;
  font-size: 2.4rem;
}
#contact p {
  color: black;
  text-align: center;
  font-size: 1.1rem;
  font-family: "bree serif", serif;
} 
